* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f6fb;
}


.container {
    display: flex;
    min-height: 100vh;
}


.profile {
    width: 30%;
    background: linear-gradient(135deg, #a0a1c4, #393d87);
    color: white;
    padding: 40px 25px;
    text-align: center;
    position: fixed;
    height: 100%;
}

.photo {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    background-image: url("image.jpeg");
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 600;
}

.profile h1 {
    margin-top: 20px;
    font-size: 26px;
}

.role {
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.9;
}

.info {
    margin-top: 20px;
    font-size: 14px;
}

.links {
    margin-top: 25px;
}

.links a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 8px 0;
    font-size: 14px;
}


.content {
    margin-left: 30%;
    width: 70%;
    padding: 40px;
}

section {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

section h2 {
    color: #4e54c8;
    margin-bottom: 15px;
}

section h3 {
    margin-bottom: 8px;
    font-weight: 600;
}

section p, li {
    font-size: 14px;
    margin-bottom: 8px;
}

ul {
    padding-left: 20px;
}

.skills span {
    display: inline-block;
    background: #e8ebff;
    color: #3f98e0;
    padding: 6px 14px;
    border-radius: 20px;
    margin: 6px;
    font-size: 13px;
}

footer {
    text-align: center;
    font-size: 13px;
    color: gray;
}

@media (max-width: 900px) {
    .profile {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}
