body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6fb;
}

header {
    background: #5f7cff;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 65%;
    padding: 8px;
}

button {
    padding: 8px 10px;
    cursor: pointer;
}

ul {
    padding: 0;
    margin-top: 20px;
}

li {
    list-style: none;
    background: #e8ecff;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

span {
    flex: 1;
}
li button {
    margin-left: 5px;
}
