* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: white;
}

header p {
    margin-top: 5px;
    font-size: 14px;
}


.card {
    background: rgb(253, 233, 233);
    border-radius: 8px;
    max-width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.card h2 {
    margin-bottom: 12px;
    color: #2c3e50;;
    font-size: 18px;
}

button {
    padding: 7px 12px;
    margin: 4px;
    border: 1px solid #2c3e50;
    border-radius: 4px;
    background: white;
    color: #2c3e50;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #2c3e50;
    color: white;
}

.output {
    margin-top: 12px;
    color: #f4f6f9;
    padding: 14px;
    background: #2c3e50;
    border-radius: 4px;
    min-height: 45px;
    font-size: 14px;
}
