ALTER TABLE sales_order ADD COLUMN IF NOT EXISTS shipping_cost DECIMAL(10, 2) DEFAULT 0; ALTER TABLE sales_order ADD COLUMN IF NOT EXISTS customer_email VARCHAR(255); ALTER TABLE sales_order ADD COLUMN IF NOT EXISTS customer_phone VARCHAR(20);
